
*{
    margin: 0;
    padding: 0;
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

figure{
    display: flex;
    left: 0;
    width: 700%; /* width dikali slide */
    animation: 40s slide infinite;
}

.slide{
    position: relative;
    display: flex;
    justify-content: center;
    width: 14.28%; /* width dibagi slide */
    float: none;
    flex-shrink: 0;
    text-align: center;
}

.slide h1{
    position: absolute;
    display: table-cell;
    top: 80%;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: var(--variable-color5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.slide p {
    font-size: 1em;
    width: 450px;
    height: 400px;
    margin: 0;
    position: absolute;
    padding: 2rem;
    top: 25%;
    color: var(--variable-color3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

.slide img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    
}

@keyframes slide {
    /* Imagen 1 */
    0%, 10% { left: 0; }
    
    /* Imagen 2 */
    14%, 24% { left: -100%; }
    
    /* Imagen 3 */
    28%, 38% { left: -200%; }
    
    /* Imagen 4 */
    42%, 52% { left: -300%; }
    
    /* Imagen 5 (Nueva) */
    56%, 66% { left: -400%; }
    
    /* Imagen 6 (Nueva) */
    70%, 80% { left: -500%; }
    
    /* Imagen 7 (Nueva) */
    84%, 94% { left: -600%; }
    
    /* 100% Reajuste rápido para reiniciar el bucle sin tirones */
    100% { left: 0; }
}