footer {
  width: 100%;
  background-color: rgb(2, 1, 0);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box a img {

  padding: 10px;

}

.pie-pagina .grupo-1 .box h6 {
  color: var(--variable-color);
  margin-bottom: 25px;
  font-size: 15px;
}

.text {
  color: #e9e3e0;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;

}

.pie-pagina .grupo-1 .red-social .box a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  box-shadow: 0 0 2px rgba(1, 0, 0, 0.3);
  margin-right: 20px;
  text-align: center; 
  transition: all 300ms ease;

} 
  .pie-pagina .grupo-1 .red-social .box a img {
    width: 20px;
    height: 20px;
    object-fit: contain; /* Esto evita que la imagen se deforme */
}
  /* ... resto de tu código ... */



.pie-pagina .grupo-1 .red-social .box a .logo-brand:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0c0c0c;
  padding: 15px 10px;
  text-align: center;
  color: #ffffff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

