
:root {
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body {
    background: #fe8c00;  
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00); 
    background: linear-gradient(to right, #f83600, #fe8c00); 
}
*/



.main_box {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    max-width: fit-content;
    height: auto;
    border-radius: 15px;
    margin: 20px 10px;
    padding-bottom: 30px;
}

.product_section {
    padding: 20px 25px 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoes_box {
    margin: 20px;
    border-radius: 10%;
    width: 400px;
    height: 450px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoes_box img {
    height: 700px;
}

.shoes_items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.item_box {
    background-color: var(--variable-color3);
    padding: 10px;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.3s;
}

.item_box:hover {
    background-color: var(--variable-color2);
}

.shoes_items img {
    height: 120px;
}

.content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:roboto, sans-serif;

}

.content_box h1 {
    font-size: 60px;
    font-weight: 500;
    color: var(--variable-color4);
}

.content_box p {
    font-family:roboto, sans-serif;
    font-size: 16px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
}

.content_box h2 {
    font-size: 24px;
    color: var(--variable-color4);
}

.content_box ul li {
    font-family:roboto, sans-serif;
    font-size: 16px;
    color: var(--variable-color4);
    text-decoration: none;
}

.content_box button {
    border: none;
    outline: none;
    width: 150px;
    background-color: var(--variable-color);
    font-size: 20px;
    font-weight: 400;
    padding: 7px 0px;
    border-radius: 8px;
    color: var(--variable-color3);
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}

.content_box button :hover {
    background-color: var(--variable-color7);

}

.btn {
    border: none;
    outline: none;
    width: 150px;
    background-color: var(--variable-color4);
    font-size: 20px;
    font-weight: 400;
    padding: 7px 30px;
    border-radius: 8px;
    color: var(--variable-color1);
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--variable-color7);;
}

.contenedor_img {
    display: flex;
}

.img1 {
    width: 90px;
    height: auto;
    padding: 5px;
}

.img2 {
    width: 120px;
    height: 120px;
    padding: 5px;
}

/* *********RESPONSIVE****** */

@media screen and (max-width: 992px) {
    
.product_section {
    padding-top: 100px;
}

    .shoes_box {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .shoes_box img {
        height: 400px;
    }
    
    .content_box h1 {
        font-size: 35px;
    }

    .item_box {
    padding: 10px;
    margin: 0px 7px;
    }
    
    .shoes_items img {
        height: 90px;

    }
}

@media screen and (max-width: 768px) {
    .product_section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .content_box {
        padding-top: 20px;
    }
}
@media screen and (max-width: 400px) {
    .product_section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .content_box {
        padding-top: 10px;
    }
}

