
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 10%;
/*   background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}